@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Block List checker is a basic onion-architected MVC 5 application which will allow for the interrogation of multiple Email Service Providers (ESPs) to occur simultaneously.</p>
