@{
    ViewBag.Title = "Block List Checker";
}

<h2>Block List Checker</h2>
<p>Enter an email address and click submit or click "Display All" in order to view blocked (suppressed) email addresses from configured ESPs.</p>

<div class="form-inline">
    <div class="form-group">
        <input class="form-control" type="email" placeholder="user@example.net" />
    </div>
    <div class="form-group">
        <button id="singleSubmit" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-group">
        <button id="allSubmit" class="btn btn-success">Display All</button>
    </div>
</div>

@*Here thar be dragons of a grid-like nature*@
<div id="jsGrid"></div>

@* Now actually setup the grid *@
<script type="text/javascript">

    var countries = [
        { Name: "", Id: 0 },
        { Name: "United States", Id: 1 },
        { Name: "Canada", Id: 2 },
        { Name: "United Kingdom", Id: 3 }
    ];

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",

        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        autoload: true,

        controller: {
            loadData: function () {
                var d = $.Deferred();

                $.ajax({
                    url: "/Check/GetSuppressions",
                    dataType: "json"
                }).done(function (response) {
                    d.resolve(response.value);
                });

                return d.promise();
            }
        },

        fields: [
            { name: "Email Provider", type: "text", width: 150},
            { name: "Email Address", type: "text", width: 150 },
            { name: "Added On", type: "datetime", width: 200 },
            { name: "Error Code", type: "text", width: 75 },
            { name: "Error Text", type: "text", width: 270 },
            { type: "control" }
        ]
    });
</script>