@model BlockListChecker.ViewModels.SingleEmailViewModel
@{
    ViewBag.Title = @Model.EmailAddress;
}

<h2>Suppressions for '@Model.EmailAddress'</h2>

<div id="jsGrid"></div>

@* Now actually setup the grid *@
<script type="text/javascript">

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",

        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        autoload: true,

        controller: {
            loadData: function () {
                var d = $.Deferred();

                $.ajax({
                    type: 'GET',
                    url: "/Check/GetSuppression?address=@Model.EmailAddress",
                    dataType: "json",
                    success: function (data) {
                        d.resolve(data);
                    },
                    error: function(e){
                        alert("ERROR:" + e.responseText)
                    }
                }).done(function (response) {
                    d.resolve(response.value);
                });

                return d.promise();
            }
        },

        fields: [
            { name: "EmailServiceProviderName", title: "ESP", type: "textarea", width: 75 },
            { name: "EmailAddress", title: "Address", type: "text", width: 250 },
            { name: "AddedOnDisplay", title: "Added", type: "datetime", width: 200 },
            { name: "ErrorCode", title: "Code", type: "text", width: 75 },
            { name: "ErrorText", title: "Error", type: "text", width: 270 },
            { type: "control" }
        ]
    });
</script>
